.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about {
  font-size: 2vw;
  font-family: akagi-pro;
  font-weight: 300;
  font-style: normal;
  font-size: 15;
  line-height: 1.4em;
  letter-spacing: 0em;
  text-transform: none;
  color: #111;
  max-width: 50%;
  padding: 40px;
}

img {
  width: 100%;
  height: 300px;
  display: block;
}


.cover {
  background-color: #17152b;
}

h1 {
  padding-top: 40px;
}

a { /*  */
  text-decoration:none;
}

.clickable-container {
  position:relative;
  color:white;
  width:100%;
  display:block;
}

.clickable-container:hover {
  cursor:pointer;
  color:#fff;
}
.overlay{
  display:none;
    text-align: center;
}

.info-container {
  background:#1d1f21;
  position:relative;
  color:white;
  width:100%;
  display:block;
  top:-25px;
}

.clickable-container:hover .overlay {
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction:column;
  justify-content:center;
  background: #1d1f21;
  width:100%;
  height:100%;
  opacity:0.95;
}

img {
  display:block;
}

h3.responsive-title {
  font-size:1.4rem;
  text-align:center;
}

.responsive-date {
  font-size:1.2rem;
  text-align:center;
}

.overlay-content {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 80px;
}

span {
  color: black
}

#resume {
  width: 800px;
  height: 1000px;
}

img {
  height: 100%;
  width: 100%;
}

.envelope {
  height: 25px;
  width: 25px;
  margin-right: 10px
}

.mail {
  display:flex;
}

.contact span {
  padding: 0 40px 40px 0;
  
}

#contact {
  display: flex; 
}

.face img{
  margin: 30px;
  height: 15%;
  width: 15%;
  border-radius: 50%;
}